.in{
    border:30%
}

.request{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction:normal ;
    flex-direction: row;
    min-height: 40px;
    padding:12px 16px 13px ;
       padding-top: 12px;
       padding-right: 16px;
       padding-bottom: 13px;
       padding-left: 16px;
    position: relative;
    white-space: normal;
}

.icon{
    display: block;
    -webkit-box-flex: 0 ;
    flex: 0 0 auto ;
       flex-grow: 0;
       flex-shrink: 0;
       flex-basis: auto;
}

.text{
    background-color: rgba(var(--c37,237,73,86),1);
    border-radius:17px ;
       border-top-left-radius:17px ;
       border-top-right-radius:17px ;
       border-bottom-right-radius:17px ;
       border-bottom-left-radius:17px ;
    color: rgba(var(--eca,255,255,255),1);
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    text-align: center;
    user-select: none;
    width: 34px;

}

.fr1{
    color: rgba(var(--i1d,38,38,38),1);
    display: block;
    -webkit-box-flex:1 ;
    flex: 1 0 0%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0%;
    line-height: 1.3;
    margin:0 12px ;
      margin-top: 0px;
      margin-right: 12px;
      margin-bottom:0px ;
      margin-left: 12px;
    min-width: 0;

}

.fr2{
    background: None;
        background-image: none;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    border: 0;
        border-top-color: initial;
        border-top-style: initial;
        border-top-width: 0px;
        border-right-color: initial;
        border-right-style: initial;
        border-right-width: 0px;
        border-bottom-color: initial;
        border-bottom-style: initial;
        border-bottom-width: 0px;
        border-left-color: initial;
        border-left-style: initial;
        border-left-width: 0px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
    display: block;
    text-align: left;
}
/*
body, button, input, textarea {
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
*/



.fr3{
    display: block;
    font-weight: 600;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
}


.fr4{
    display: block;
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);

}

.arrow{
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 26px;
    min-width: 40px;
}



.arrow1{
    height: 40px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.arrow2{
    background-repeat: no-repeat;
    background-position: -337px -319px;
    height: 15px;
    width: 12px;
}



.request::after{
    border-bottom: 1px solid #dbdbdb;
    border-bottom: 1px solid rgba(var(--b38,219,219,219),1);
    bottom: 0;
    content: '';
    height: 0;
    left: 58px;
    position: absolute;
    right: 12px;
}
